/* Font families Life Savers and Hind Madurai */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500&family=Life+Savers:wght@400;700;800&display=swap");

*,
* ::after,
* ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hover-highlight,
button {
  cursor: pointer;
}

h1,
h2 {
  font-family: "Life Savers", serif;
}

h3,
p,
li,
button,
input {
  font-family: "Hind Madurai", sans-serif;
}

/* Set Responsive Font Sizes */
h1 {
  font-size: clamp(1.2rem, 3vw + 0.5rem, 2rem);
  padding: 0.3rem;
}

h2 {
  font-size: clamp(1rem, 2vw + 00.5rem, 1.7rem);
}

h3 {
  font-size: clamp(1.1rem, 1.5vw, 1.4rem);
}

p,
li,
button,
input {
  font-size: clamp(0.8rem, 1.8vw + 0.1rem, 1.2rem);
}

/* Header styles */
header {
  width: 100%;
  max-width: 1000px;
  text-align: center;
}

/* Setting grid for the div container nested inside the header
in order to distribute horizontally 3 child elements */
#header-grid-container {
  background: #4f8073;
  color: white;
  text-align: center;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

#header-grid-container > :first-child {
  grid-area: 1 / 1 / 2 / 2;
}

#header-grid-container > h1 {
  grid-area: 1 / 2 / 2 / 3;
}

#header-grid-container > :last-child {
  grid-area: 1 / 3 / 2 / 4;
}

.sound-toggle {
  width: max(45px, 60%);
  background-color: #4f8073;
  font-size: 150%;
}

.sound-toggle > i {
  color: white;
  background-color: #4f8073;
}

.sound-toggle > img {
  max-width: 100%;
  height: auto;
  background-color: #4f8073;
}

/* The block of styles set for the 2nd child of the header 
- the button visible on the Playground screen */
#back-to-intro {
  padding-top: 10px;
}

#back-to-intro-btn {
  width: min(90%, 300px);
  color: white;
  text-shadow: 1px 1px 0px #16133c;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 12px 12px;
  border-radius: 28px;
  border: 4px dotted #3866a3;
  background: linear-gradient(to top, #4f8073, #c7fcec);
}

#back-to-intro-btn:hover {
  background: #c7fcec;
  background: linear-gradient(to top, #c7fcec, #4f8073);
}

/* Main sections */
main {
  flex: 1 0 auto;
  width: min(90%, 1000px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Utility class for flex column properties */
.section-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* The title sitting on top of the video block */
#intro > :nth-child(1) {
  letter-spacing: 2px;
  line-height: 100% !important;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#intro-video {
  min-height: fit-content;
  background-color: #c7fcec;
  text-align: center;
}

#intro-video video {
  padding: 0.5rem;
  width: min(500px, 100%);
}

/* The block of styles for the Play game button */
#start-playground {
  width: 100%;
  background-color: #c7fcec;
  padding-bottom: 0.5rem;
}

#start-playground-button {
  width: min(90%, 200px);
  color: white;
  text-shadow: 1px 1px 0px #16133c;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 6px 10px;
  border-radius: 20px;
  border: 4px dotted #3866a3;
  background: linear-gradient(to top, #4f8073, #c7fcec);
}

#start-playground-button:hover {
  background: #c7fcec;
  background: linear-gradient(to top, #c7fcec, #4f8073);
}

/* 2nd title underneath the button on top of the list of rules */
#intro > :nth-child(4) {
  letter-spacing: 2px;
  padding-top: 20px;
  padding-bottom: 6px;
  text-align: center;
}

/* Block of rules consisting of 2 div containers with unordered lists,
setting flex with row orientation */
#game-rules {
  width: 100%;
  min-height: fit-content;
  background-color: #c7fcec;
  color: black;
  display: flex;
  justify-content: space-around;
}

#game-rules-content1,
#game-rules-content2 {
  padding: 1rem 2rem;
  line-height: 150%;
  font-size: large;
}

/* The form for Player's name input */
#input-name {
  width: min(90%, 800px);
  max-width: 800px;
  min-height: 200px;
  background-color: #16133c;
  text-align: center;
  padding-bottom: 12px;
}

#input-name-form {
  width: 100%;
  padding-top: 16px;
}

#name-player {
  margin-inline: auto;
  margin-bottom: 12px;
  width: min(92%, 300px);
  padding: 6px 12px;
}

#input-name-btn {
  width: 60px;
  height: 60px;
  background: linear-gradient(to top, #4f8073, #c7fcec);
  border: 4px dotted #3866a3;
  border-radius: 50%;
  color: white;
  padding: 6px;
  text-decoration: none;
  display: inline-block;
  margin: 16px;
}

#input-name-btn:hover {
  background: #c7fcec;
  background: linear-gradient(to top, #c7fcec, #4f8073);
}

/* Playground section styles */
#playground {
  width: min(90%, 800px);
  max-width: 1000px;
  min-height: 200px;
  background-color: #16133c;
  text-align: center;
  padding-bottom: 12px;
}

/* Utility class setting the grid for the Z-stacked layout of the button title 'Start Round'
in front of the Diagram of Rules */
.stacked-grid {
  color: white;
  display: grid;
}

.stacked-grid > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.stacked-grid > span {
  align-self: center;
}

#start-control {
  max-width: 300px;
  padding: 1rem;
  background-color: #16133c;
  border: none;
}

#start-control img {
  width: 100%;
  border: 16px solid #4f8073;
}

#start-control:hover img {
  cursor: pointer;
  border-color: azure;
}

#start-control:focus-within img {
  border-color: azure;
}

#start-control span {
  animation: glowing-text 3s infinite;
}

.run-game {
  width: 100%;
  padding: 0.5rem;
  color: white;
}

.run-game > h2,
.run-game > h3 {
  margin-inline: auto;
  max-width: 650px;
  padding: 0.5rem;
  border: 16px solid #4f8073;
}

.run-game > p {
  padding-top: 6px;
}

/* The content of this h3 element is controlled by JS */
#playground-title {
  font-size: clamp(100%, 2vw, 150%);
  letter-spacing: 2px;
}

/* Countdown screen section visible along with the 5 hands section */
#clock-countdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-numbers {
  padding: 1rem;
  font-size: clamp(2.8rem, 7vw + 0.5rem, 4rem);
}

#clock-countdown img {
  width: 100%;
}

/* Display results section visible after a hand was picked by Player */
#display-result {
  width: 80%;
  min-height: 120px;
  background-color: #16133c;
  color: white;
  align-items: center;
  border: 16px solid #4f8073;
  text-align: center;
}

#display-result-title {
  padding: 6px;
  text-transform: capitalize;
  font-size: clamp(100%, 2.5vw, 150%);
  letter-spacing: 2px;
}

/* The section of 5 hands visible along with the clock and countdown numbers */
#hand-selection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
}

.hand-type {
  color: black;
  width: max(100px, 17%);
  padding: 0.2rem;
  text-align: center;
}

.hand-type > p {
  padding-bottom: 6px;
}

.hand-type--button {
  border: none;
}

.hand-type img {
  max-width: 100%;
  background-color: white;
  border: none;
}

/* The Back to New Round button block visible with Display Results section */
#back-to-new-round {
  padding: 16px 0;
}

#back-to-new-round div {
  text-align: center;
}

#back-to-new-round-btn {
  width: min(90%, 200px);
  color: white;
  text-shadow: 1px 1px 0px #16133c;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 6px 16px;
  border-radius: 28px;
  border: 4px dotted #3866a3;
  background: linear-gradient(to top, #4f8073, #c7fcec);
}

#back-to-new-round-btn:hover {
  background: #c7fcec;
  background: linear-gradient(to top, #c7fcec, #4f8073);
}

/* Footer styles */
footer {
  z-index: 99;
  bottom: 0;
  width: min(100%, 1200px);
  min-height: max-content;
  background-color: #16133c;
  color: white;
}

/* Grid container inside the footer to arrange the score board */
footer > div {
  display: grid;
  grid-template-columns: 12% 3% 12% 60fr 25fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  padding-bottom: 1.5rem;
}

.footer--grid-item h3 {
  padding: 0.7rem 1.5rem;
}

.footer--border h3 {
  border: 3px solid white;
}

#footer-item-you {
  grid-area: 1 / 1 / 2 / 2;
}

#footer-you-score {
  grid-area: 2 / 1 / 3 / 2;
  align-self: start;
}

#footer-item-colon {
  grid-area: 2 / 2 / 3 / 3;
  align-self: start;
}

#footer-item-sheldon {
  grid-area: 1 / 3 / 2 / 4;
}

#footer-sheldon-score {
  grid-area: 2 / 3 / 3 / 4;
  align-self: start;
}

#footer-item-title {
  grid-area: 1 / 4 / 3 / 5;
}

#footer-item-round {
  grid-area: 1 / 5 / 2 / 6;
}

#footer-round-count {
  grid-area: 2 / 5 / 3 / 6;
  align-self: start;
}

.hidden {
  display: none !important;
}

/* Pack of 2 animations for the glowing border and text */
@keyframes glowing {
  0% {
    border-color: #4f8073;
  }
  40% {
    border-color: azure;
  }
  60% {
    border-color: azure;
  }
  100% {
    border-color: #4f8073;
  }
}

@keyframes glowing-text {
  0% {
    color: #16133c;
  }
  40% {
    color: white;
  }
  60% {
    color: white;
  }
  100% {
    color: #16133c;
  }
}

/* The query set for non-hover devices with the infinite glowing of the border */
@media (hover: none) {
  #start-control img {
    animation: glowing 3s infinite;
  }
}

/* The query for smart phones */
@media only screen and (max-width: 650px) {

  #intro > :nth-child(1) {
    letter-spacing: 0;
    width: 100%;
  }

  #back-to-intro {
    padding: 6px 0;
  }

  #playground {
    width: 100%;
  }

  #start-control img {
    width: 80%;
    justify-self: center;
  }

  #hand-selection {
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px 0;
  }

  .hand-type {
    padding: 0.5rem;
    width: max(80px, 28%);
  }

  #clock-countdown > :nth-child(3) {
    flex-basis: 200px;
  }

  #display-result {
    width: 100%;
    margin-bottom: 16px;
  }

  #game-rules {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #game-rules-content1,
  #game-rules-content2 {
    padding: 0;
  }

  #game-rules-content1 {
    transform: translateX(-6px);
    padding-top: 4px;
  }

  #game-rules-content2 {
    padding-bottom: 4px;
  }

  /* Rearranging the Score Board grid for small screens */
  footer h3 {
    font-size: clamp(0.8rem, 5vw, 1rem);
  }

  footer > div {
    grid-template-columns: 28% 5% 28% 39%;
    grid-template-rows: 1fr 1fr 1.5fr;
    padding: 6px 12px 12px 12px;
  }

  .footer--grid-item h3 {
    padding: 0;
  }

  .footer--border h3 {
    padding: 6px 16px;
  }

  #footer-item-title {
    grid-area: 1 / 1 / 2 / 5;
    padding: 6px;
  }

  #footer-item-you {
    grid-area: 2 / 1 / 3 / 2;
    padding: 0;
  }

  #footer-you-score {
    grid-area: 3 / 1 / 4 / 2;
  }

  #footer-item-colon {
    grid-area: 3 / 2 / 4 / 3;
    padding: 6px;
  }

  #footer-item-sheldon {
    grid-area: 2 / 3 / 3 / 4;
    padding: 0;
  }

  #footer-sheldon-score {
    grid-area: 3 / 3 / 4 / 4;
  }

  #footer-item-round {
    grid-area: 2 / 4 / 3 / 5;
    padding: 0;
  }

  #footer-round-count {
    grid-area: 3 / 4 / 4 / 5;
  }
}

/* Target only smart phones in orientation mode. 
The goal is to set banner which alerts Player that design does not assume landscape mode for mobiles
and requests Player to get back to the portrait mode - to avoid inconveniences with extra scrolling */
@media only screen and (max-width: 933px) and (orientation: landscape) {
  #intro-video {
    position: relative;
  }

  #intro-video::after {
    content: "This game is not designed for smart phones in landscape mode. Return to the portrait mode please";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.712);
    color: white;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    padding: 1rem;
  }

  #playground {
    position: relative;
  }

  #playground::after {
    content: "This game is not designed for smart phones in landscape mode. Return to the portrait mode please";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.712);
    color: white;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    padding: 1rem;
  }
}
