@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500&family=Life+Savers:wght@400;700;800&display=swap");

*,
* ::after,
* ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header,
button {
  cursor: pointer;
}

header {
  width: min(90vw, 1000px);
  background: brown;
  color: white;
  text-align: center;
  flex-shrink: 0;
  padding: 1rem;
}

h1,
h2 {
  font-family: "Life Savers", serif;
}

h3,
p,
li,
button {
  font-family: "Hind Madurai", sans-serif;
}

h1 {
  font-size: clamp(1.5rem, 3vw + 0.5rem, 2.5rem);;
}

h2 {
  font-size: clamp(1rem, 3vw + 0.2rem, 1.5rem);
  line-height: 150%;
}

h3 {
  font-size: clamp(0.8rem, 2vw + 0.2rem, 1.2rem);
}

p,
li {
  font-size: clamp(0.8rem, 2vw + 0.2rem, 1.2rem);;
}


header > h3 {
  padding-top: 1rem;
  letter-spacing: 3px;
}

main {
  width: min(90vw, 1000px);
  flex-grow: 1;
  overflow: auto;
  margin-bottom: 150px;
}

section {
  border: 4px solid #16133C;
}

.section-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#intro {
  margin-top: clamp(12px, 4vw, 100px);
}

#intro > h2 {
  letter-spacing: 2px;
  line-height: 100% !important;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}

#intro-video {
  min-height: fit-content;
  background-color: antiquewhite;
  text-align: center;
}

#intro-video video {
  padding: 1rem;
  width: min(500px, 100%);
}

#start-playground {
  width: 100%;
  min-height: 100px;
  background-color: aqua;
}

#start-playground--button {
  width: 200px;
  height: 50px;
  padding: 1rem;
}

#game-rules {
  width: 100%;
  min-height: fit-content;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-around;
}

#game-rules--content {
  padding: clamp(1rem, 2vw, 2rem) clamp(1rem, 2vw, 4rem);
  line-height: 150%;
  font-size: large;
}

#playground {
  margin-top: clamp(12px, 4vw, 100px);
  min-height: 200px;
  background-color: #16133C;
  text-align: center;
}
.stacked-grid {
  color: white;
  display: grid;
}

.stacked-grid > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2; 
}

.stacked-grid > p {
  align-self: center;
}

#start-control {
  max-width: 350px;
  padding: 1rem;
  background-color: #16133C;
  border: none;
}

#start-control :hover {
  cursor: pointer;
  border-color: azure;
}

#start-control img {
  width: 100%;
  border: 16px solid rgb(106, 126, 75);
}

.run-game {
width: 100%;
padding: 1rem;
color: white;
}

.run-game h2 {
  
  margin-inline: auto;
  max-width: 550px;
  padding: 0.5rem;
  border: 16px solid rgb(106, 126, 75);
}

/* #rules-diagram {
  max-width: 300px;
  padding: 1rem;
} */

/* #rules-diagram img {
  width: 100%;
  padding: 0.5rem;
  border: 16px solid rgb(106, 126, 75);
} */

#clock-countdown {
  margin-top: 100px;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
}

.countdown-numbers {
  padding: 1rem;
  font-size: 400%;
}

#clock-countdown img {
  width: 200px;
  /* margin-left: 50%;
  transform: translateX(-50%); */
}

#display-result {
  margin-top: 100px;
  min-height: 150px;
  background-color: darkblue;
  color: white;
  align-items: center;
}

#display-result--title {
  /* margin: auto; */
  text-transform: capitalize;
}

#hand-selection {
  min-height: 100px;
  background-color: azure;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hand-type {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 200px;
  width: 140px;
  border: 2px solid darkorange;
  text-align: center;
}

.hand-type img {
  max-width: 100%;
}

footer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: min(100vw, 1200px);
  min-height: 150px;
  background-color: #16133C;
  color: white;
  padding: 1rem;
}

footer > div {
  min-height: 100px;
  display: grid;
  grid-template-columns: 10% 4% 10% 1fr 25%;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.footer--grid-item {
  padding: min(2vw, 1rem) min(3vw, 2rem);
}

#footer--item-you {
  grid-area: 1 / 1 / 2 / 2;
}

#footer--you-score {
  grid-area: 2 / 1 / 3 / 2;
  border: 2px solid white;
}

#footer--item-colon {
  grid-area: 2 / 2 / 3 / 3;
  padding: 0;
}

#footer--item-sheldon {
  grid-area: 1 / 3 / 2 / 4;
}

#footer--sheldon-score {
  grid-area: 2 / 3 / 3 / 4;
  border: 2px solid white;
}

#footer--item-title {
  grid-area: 1 / 4 / 3 / 5;
}

#footer--item-round {
  grid-area: 1 / 5 / 2 / 6;
}

#footer--round-count {
  grid-area: 2 / 5 / 3 / 6;
  border: 2px solid white;
}

.hidden {
  display: none !important;
}
